.aamir-1 {height: 150px;border: 1px ;display: inline-block;float: left;}
.aamir-2 {height: 300px;border: 1px solid white;display: inline-block;float: left;}
.aamir-3 {height: 300px;border: 1px solid white;display: inline-block;float: left;}
.aamir {display: inline-block;float: left;}
.padding-0 {padding-left: 0px; padding-right: 0px;}
.bg-cream {background-color:#FFEDB0;}
.bg-green {background-color:#8AD7B1;}
.bg-yellow {background-color:#FECB65;}
.bg-red {background-color:#FD706D;}






